
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
requests

# Google Gemini and Search
google-generativeai
google-api-python-client
google-api-core

# OCR
pytesseract
pillow
opencv-python

# Speech-to-text
faster-whisper
pydub
soundfile

# Audio processing
ffmpeg-python

# Streamlit for frontend
streamlit

# Utils
backoff
markdown
pyaudioop==0.2.5
